body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: beige;
}
header {
  background-color: bisque;
  color: rgb(4, 3, 3);
  text-align: center;
  padding: 10px 0;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-right: 20px;
}
table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 10 px;
  text-align: left;
}

.Raghito {
  color: black;
  background-color: blanchedalmond;
}
img {
  width: 30%;
  height: auto;
  border: 2px solid black;
  border-radius: 10 px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0, 5);
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
form {
  margin-top: 20px;
}
lebel {
  display: block;
  margin-bottom: 5px;
}
input {
  width: 100%;
  padding: 80;
  margin-bottom: 20px;
}
